@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "integral";
  src: url(integral.ttf);
}
@font-face {
  font-family: "dm";
  src: url(dm.ttf);
}
@font-face {
  font-family: "dm-bold";
  src: url(dm-bold.ttf);
}
@font-face {
  font-family: "Mon";
  src: url(Mon.ttf);
}
@font-face {
  font-family: "Vict";
  src: url(Vict.ttf);
}
